<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucle.myp.mapper.GroupBuyingMapper">

	<insert id="insertGroupBuying"
		parameterType="com.lucle.myp.domain.GroupBuyingVo">
		INSERT INTO GROUPBUYING (TITLE, CONTENT, REGIDATE,
		GOALDATE, GOALTARGET,
		NUM, PERSONNUM)
		VALUES (#{title}, #{content},
		#{regidate}, #{goaldate}, #{goaltarget},
		#{num}, #{personNum})
	</insert>

	<select id="selectGroupBuying" parameterType="long"
		resultType="com.lucle.myp.domain.GroupBuyingVo">
		SELECT * FROM GROUPBUYING WHERE GNO = #{gno}
	</select>

	<update id="updateGroupBuying"
		parameterType="com.lucle.myp.domain.GroupBuyingVo">
		UPDATE GROUPBUYING
		SET TITLE = #{title}, CONTENT =
		#{content}, REGIDATE = #{regidate},
		GOALDATE = #{goaldate}, GOALTARGET
		= #{goaltarget}, NUM = #{num},
		PERSONNUM = #{personNum}
		WHERE GNO =
		#{gno}
	</update>

	<delete id="deleteGroupBuying" parameterType="long">
		DELETE FROM
		GROUPBUYING WHERE GNO = #{gno}
	</delete>

	<select id="listGroupBuying"
		resultType="com.lucle.myp.domain.GroupBuyingVo">
		SELECT * FROM GROUPBUYING
	</select>

	<!-- 참여 인원 업데이트를 위한 쿼리 추가 -->
	<update id="updateParticipation" parameterType="long">
		UPDATE
		GROUPBUYING
		SET PERSONNUM = PERSONNUM + 1
		WHERE num = #{num}
	</update>

	<insert id="addBuyingRecord">
		INSERT INTO BUYING (ID, BUYNO, BUYINGDATE, CATEGORY,
		NUM, PRODUCTNAME, AGE, GENDER, ADDRESS)
		SELECT
		U.ID,
		seq_buying.nextval,
		SYSDATE,
		M.CATEGORY,
		M.NUM,
		M.PRODUCTNAME,
		U.AGE,
		U.GENDER,
		U.ADDRESS
		FROM
		USERS U, MARKET M
		WHERE
		U.ID = #{id} AND M.NUM = #{num}
	</insert>
	
	<select id="BuyingRecord"
		resultType="com.lucle.myp.domain.GroupBuyingVo">
		SELECT * FROM Buying
	</select>
</mapper>