<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucle.myp.mapper.MarketMapper">

	<select id="getList" resultType="com.lucle.myp.domain.MarketVo">
		SELECT M.*,
		(SELECT COUNT(*) FROM MARKETVIEW MV WHERE MV.NUM = M.NUM)
		AS MARKETVIEWCOUNT
		FROM MARKET M
		WHERE (PRODUCTNAME LIKE '%' ||
		#{keyword} || '%'
		OR KEYWORD LIKE '%' || #{keyword} || '%')
		AND (
		<trim prefix="" suffix="" prefixOverrides="or">
			<foreach item="type" collection="marketNameArr">
				<trim prefix="or ">
					<choose>
						<when test="type == 'ebay'"> MARKETNAME = 'Ebay' </when>
						<when test="type == 'ama'"> MARKETNAME = 'Amazon' </when>
						<when test="type == 'amaJp'"> MARKETNAME = 'Amazon Japan' </when>
						<when test="type == '11st'"> MARKETNAME = '11번가' </when>
					</choose>
				</trim>
			</foreach>
		</trim>
		)
	</select>

	<select id="proto" resultType="com.lucle.myp.domain.MarketVo">
	<![CDATA[
	SELECT A.*
	FROM (
    	SELECT MARKET.*, MARKETVIEW.VNO,
           	ROW_NUMBER() OVER (PARTITION BY MARKET.NUM ORDER BY MARKETVIEW.VNO DESC) AS RN
    	FROM MARKET
		JOIN MARKETVIEW ON MARKET.NUM = MARKETVIEW.NUM
	) A
	WHERE A.RN = 1
	]]>
	</select>

	<select id="sortProto"
		resultType="com.lucle.myp.domain.MarketVo">
	<![CDATA[
	SELECT A.*, A.RN
	FROM (
    	SELECT MARKET.*,
           	ROW_NUMBER() OVER (PARTITION BY MARKETNAME ORDER BY WON) AS RN
    	FROM MARKET
		WHERE MARKET.KEYWORD = #{keyword, jdbcType=VARCHAR}  -- keyword 파라미터에 대해 jdbcType을 VARCHAR로 지정합니다.
	) A
	WHERE A.RN = 1
	]]>
	</select>

<!-- 	<select id="groupBuying"
		resultType="com.lucle.myp.domain.MarketVo">
	<![CDATA[
	SELECT *
	FROM MARKET
	WHERE GROUPBUYING = 1
	ORDER BY DBMS_RANDOM.VALUE
	]]>
	</select> -->

	<select id="groupBuying"
		resultType="com.lucle.myp.domain.MarketVo">
		SELECT
		AVG_MK.MARKETNAME,
		AVG_MK.PRODUCTNAME,
		AVG_MK.URL,
		AVG_MK.IMGURL,
		AVG_MK.WON
		FROM (
		SELECT
		M.MARKETNAME,
		M.PRODUCTNAME,
		M.URL,
		M.IMGURL,
		M.WON,
		M.KEYWORD,
		ABS(M.WON - MK_AVG.AVG_PRICE) AS PRICE_DIFFERENCE,
		ROW_NUMBER() OVER (
		PARTITION BY M.KEYWORD
		ORDER BY ABS(M.WON - MK_AVG.AVG_PRICE)
		) AS RN
		FROM
		MARKET M
		INNER JOIN (
		SELECT
		KEYWORD,
		AVG(WON) AS AVG_PRICE
		FROM
		MARKET
		WHERE
		MARKETNAME IN ('Amazon', 'Amazon Japan', 'Ebay', '11번가')
		GROUP BY
		KEYWORD
		) MK_AVG ON M.KEYWORD = MK_AVG.KEYWORD
		WHERE
		M.MARKETNAME IN ('Amazon', 'Amazon Japan', 'Ebay', '11번가')
		) AVG_MK
		WHERE
		AVG_MK.RN = 1
	</select>

	<insert id="marketViewPlus">
		insert into marketView(vno, id, num, viewDate,
		visible)
		values(seq_marketView.nextval, #{id}, #{num}, sysdate, 1)
	</insert>

	<select id="getHistoryOne"
		resultType="com.lucle.myp.domain.MarketVo">
		SELECT MV.*, M.*
		FROM MARKETVIEW MV
		INNER JOIN MARKET M ON
		MV.NUM = M.NUM
		WHERE MV.ID = #{id}
		ORDER BY viewDate DESC
	</select>

	<select id="getHistoryProduct"
		resultType="com.lucle.myp.domain.MarketVo">
		select *
		from marketView
		where num = #{num}
		order by viewDate
		desc
	</select>

</mapper>