<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucle.myp.mapper.SearchMapper">
	<insert id="insert">
		insert into search(sno, id, searchWord, searchDate,
		visible, ip)
		values(seq_search.nextval, #{id, jdbcType=VARCHAR}, #{searchWord}, sysdate,
		1, #{ip})
	</insert>

	<update id="delete">
		update search
		set visible = 0
		where sno = #{sno}
	</update>

	<select id="getCountList"
		resultType="com.lucle.myp.domain.SearchVo">
		select searchWord, count(*) as searchCount
		from search
		where
		searchDate >= sysdate - #{sortTime}
		group by searchWord
		order by
		searchCount desc
	</select>

	<select id="getStatList"
		resultType="com.lucle.myp.domain.SearchStatVo">
		<![CDATA[
SELECT   s.PCATEGORY,   
         COUNT(*) AS PCATEGORY_COUNT,   
         SUM(CASE WHEN u.AGE BETWEEN 10 AND 19 THEN 1 ELSE 0 END) AS teens,   
         SUM(CASE WHEN u.AGE BETWEEN 20 AND 29 THEN 1 ELSE 0 END) AS twenties,   
         SUM(CASE WHEN u.AGE BETWEEN 30 AND 39 THEN 1 ELSE 0 END) AS thirties,   
         SUM(CASE WHEN u.AGE BETWEEN 40 AND 49 THEN 1 ELSE 0 END) AS forties,   
         SUM(CASE WHEN u.AGE BETWEEN 50 AND 59 THEN 1 ELSE 0 END) AS fifties,   
         SUM(CASE WHEN u.AGE >= 60 THEN 1 ELSE 0 END) AS aboveSixty,   
         SUM(CASE WHEN u.GENDER = 1 THEN 1 ELSE 0 END) AS male,   
         SUM(CASE WHEN u.GENDER = 0 THEN 1 ELSE 0 END) AS female,   
         SUM(CASE WHEN u.ADDRESS LIKE '%서울%' THEN 1 ELSE 0 END) AS SEOUL,   
         SUM(CASE WHEN u.ADDRESS LIKE '%경기%' THEN 1 ELSE 0 END) AS GYEONGGI,
         SUM(CASE WHEN u.ADDRESS LIKE '%인천%' THEN 1 ELSE 0 END) AS incheon,
         SUM(CASE WHEN u.ADDRESS LIKE '%부산%' THEN 1 ELSE 0 END) AS busan,
         SUM(CASE WHEN u.ADDRESS LIKE '%대구%' THEN 1 ELSE 0 END) AS deagu,
         SUM(CASE WHEN u.ADDRESS LIKE '%광주%' THEN 1 ELSE 0 END) AS gwangju,
         SUM(CASE WHEN u.ADDRESS LIKE '%대전%' THEN 1 ELSE 0 END) AS deajeon,
         SUM(CASE WHEN u.ADDRESS LIKE '%울산%' THEN 1 ELSE 0 END) AS ulsan,
         SUM(CASE WHEN u.ADDRESS LIKE '%강원%' THEN 1 ELSE 0 END) AS gangwon,
         SUM(CASE WHEN u.ADDRESS LIKE '%충북%' THEN 1 ELSE 0 END) AS chungbuk,
         SUM(CASE WHEN u.ADDRESS LIKE '%충남%' THEN 1 ELSE 0 END) AS chungnam,
         SUM(CASE WHEN u.ADDRESS LIKE '%전북%' THEN 1 ELSE 0 END) AS jeonbuk,
         SUM(CASE WHEN u.ADDRESS LIKE '%전남%' THEN 1 ELSE 0 END) AS jeonnam,
         SUM(CASE WHEN u.ADDRESS LIKE '%경북%' THEN 1 ELSE 0 END) AS kyeongbuk,
         SUM(CASE WHEN u.ADDRESS LIKE '%경남%' THEN 1 ELSE 0 END) AS kyeongnam,
         SUM(CASE WHEN u.ADDRESS LIKE '%제주%' THEN 1 ELSE 0 END) AS JEJU
FROM     USERS u   
JOIN     MARKETVIEW s ON u.ID = s.ID   
WHERE    s.VIEWDATE >= sysdate - #{sortTime}
GROUP BY s.PCATEGORY
ORDER BY ${sort2} DESC
		]]>
	</select>

	<select id="getOne" resultType="com.lucle.myp.domain.SearchVo">
		select * from search where
		searchWord = #{searchWord}
	</select>

	<select id="getList" resultType="com.lucle.myp.domain.SearchVo">
		select * from search
		order by
		searchCount desc
	</select>

	<select id="getHistoryOne"
		resultType="com.lucle.myp.domain.SearchVo">
		select *
		from search
		where id = #{id}
		order by searchDate desc
	</select>

	<select id="getHistoryOneIp"
		resultType="com.lucle.myp.domain.SearchVo">
		select *
		from search
		where ip = #{ip}
		order by searchDate desc
	</select>
	
	<select id="selectUsersByRegion" resultType="com.lucle.myp.domain.SearchVo">
        SELECT * FROM USERS WHERE Address LIKE CONCAT('%', #{region}, '%')
    </select>


</mapper>