<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucle.myp.mapper.UserMapper">

	<update id="insert">
		insert into users(id, name, password, address, email, regiDate, lastConDate,
		grade, gender, age, nickname)
		values(#{id}, #{name}, #{password}, #{address}, #{email}, sysdate, sysdate, 0, #{gender}, #{age}, #{nickname})
	</update>

	<delete id="delete">
		delete from users where id =
		#{id} and password=#{password}
	</delete>

	<update id="update">
		update users set name =
		#{name}, password = #{password},
		address = #{address}, email = #{email}
		where id = #{id}
	</update>

	<select id="getCount" resultType="int">
		select count(*) from users
	</select>

	<select id="getOne" resultType="com.lucle.myp.domain.UserVo">
		select *
		from users where id = #{id}
	</select>

	<select id="getAll" resultType="com.lucle.myp.domain.UserVo">
		select * from users
	</select>

	<update id="lastConDateUpdate">
		update users set
		lastConDate = sysdate where id= #{id}
	</update>
	
	<update id="favoritesUpdate">
		update users set
		favorites = #{favorites} where id= #{id}
	</update>
	

	<insert id="backUp">
		insert into delUsers
		values(
		#{id},
		#{name},
		#{password},
		#{address},
		#{email},
		TO_DATE(#{regiDate}, 'YYYY-MM-DD HH24:MI:SS'),
		TO_DATE(#{lastConDate}, 'YYYY-MM-DD
		HH24:MI:SS'),
		#{grade},
		#{favorites})
	</insert>
	
	<insert id="insertOrUpdateUserSession" parameterType="com.lucle.myp.domain.UserVo">
    MERGE INTO users USING dual ON (session_id = #{session_id})
    WHEN MATCHED THEN
        UPDATE SET id = #{id}, LASTCONDATE = #{lastConDate}
    WHEN NOT MATCHED THEN
        INSERT (session_id, id, LASTCONDATE) VALUES (#{session_id}, #{id}, #{lastConDate})
	</insert>


</mapper>